PearlSync_Client/client_interface/bootstrap-combobox/* linguist-vendored
PearlSync_Client/client_interface/glyphicons/* linguist-vendored
PearlSync_Client/client_interface/qrcodejs/* linguist-vendored
PearlSync_Client/client_interface/bootstrap.min.css linguist-vendored
PearlSync_Client/client_interface/bootstrap.min.js linguist-vendored
PearlSync_Client/client_interface/dateFormat.js linguist-vendored
PearlSync_Client/client_interface/jquery-3.3.1.min.js linguist-vendored
PearlSync_Client/client_interface/require.min.css linguist-vendored